<div class="freya-fragment-title">
    <div class="pull-left">
        <table>
            <tr>
                <td>
                    <msfy-tab (click)="addTab()" [tabTitle] = "''"></msfy-tab>
                </td>
                <td *ngFor="#tab of tabs; #i = index">
                    <msfy-tab [tabTitle] = "tabs[i]"></msfy-tab>
                </td>
            </tr>
        </table>
    </div>
    <div class="pull-right">
        <div>
            <h1>Freya</h1>
        </div>
    </div>
</div>