<div class="col-xs-4 freya-fragment-user-info">
    <table>
        <tr>
            <td>
                <h5>User {{ userID }}</h5>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="First Name" value="{{ firstName }}">
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="Last Name" value="{{ lastName }}">
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="Email" value="{{ email }}">
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="Phone Number" value="{{ phoneNumber }}">
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="Gender" value="{{ gender }}">
            </td>
        </tr>
        <tr>
            <td>
                <input type="date" name="dateOfBirth" value="{{ dateOfBirth }}">
            </td>
        </tr>
        <tr>
            <td>
                <p>Join Date: {{ joinDate }}</p>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="btn btn-info">
            </td>
        </tr>
    </table>
</div>